<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- fontawesome link  -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
    integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />



  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/responsive.css">
  <title>COUNSEL || ADVICE</title>
</head>

<body>
  <!-- header section start here  -->
  <div class="header" id="topheader">
    <nav class="navbar navbar-expand-lg">
      <div class="container main-box p-2 text-uppercase">
        <a class="navbar-brand font-weight-bold text-black" href="#">Counsel</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav navbar">
            <li class="nav-item">
              <a class="nav-link active" href="#">services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Reviews</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Pricing</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <section id="header-section" class="text-left" data-aos="fade-right">
      <div class="center-div">
        <h1 class="font-weight-bold display-4 lh-style">Counselling for your Better Life</h1>
        <p class="h5 lh-style">We hope for your Thriving Future</p>
        <div class="header-buttons h6 my-5">
          <a href="#">contact</a>
          <a href="#">Read More</a>
        </div>
      </div>
    </section>
  </div>
  <!-- header section ends here  -->

  <!-- service section start here  -->
  <section id="service-section" class="space-from-top">
    <div class="top-div text-center">
      <h1 class="h6 text-uppercase text-danger">services</h1>
      <p class="h1">How It Works</p>
    </div>
    <div class="container">
      <div class="row px-5">
        <div class="col-md-4 response-style col-12 text-center p-5" data-aos="fade-right">
          <i class="fas fa-calendar-alt fa-style"></i>
          <p class="h3">Make Schedule</p>
          <p class="text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci reprehenderit qui odio
            minima quod
            voluptatum soluta illum velit ipsam quam?</p>
        </div>
        <div class="col-md-4 response-style col-12 text-center p-5" data-aos="flip-up">
          <i class="fas fa-clipboard-list fa-style"></i>
          <p class="h3">Start Discussion</p>
          <p class="text-muted"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci reprehenderit qui
            odio minima quod
            voluptatum soluta illum velit ipsam quam?</p>
        </div>
        <div class="col-md-4 response-style col-12 text-center p-5" data-aos="fade-left">
          <i class="far fa-comments fa-style"></i>
          <p class="h3">Enjoy Plan</p>
          <p class="text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci reprehenderit qui odio
            minima quod
            voluptatum soluta illum velit ipsam quam?</p>
        </div>
      </div>
    </div>
  </section>
  <!-- service section end here  -->

  <!-- about us section start here  -->
  <section id="about-section" class="space-from-top">
    <div class="container">
      <div class="row">
        <div class="col-md-5 col-12 img-style" data-aos="fade-right">
          <img src="images/3.jpg" alt="counsellor_image" class="img-fluid">
        </div>
        <div class="col-md-7 col-12 p-5" data-aos="fade-left">
          <h1 class="h6 text-uppercase text-danger centered-text">Welcome to Counselor</h1>
          <p class="h1 centered-text">Best Counseling Advice with Network Worldwide.</p>
          <p class="text-muted pad_Style">A small river named Duden flows by their place and supplies it with the
            necessary regelialia. It is a
            paradisematic country, in which roasted parts of sentences fly into your mouth. <br>

            On her way she met a copy. The copy warned the Little Blind Text, that where it came from it would have been
            rewritten a thousand times and everything that was left from its origin would be the word "and" and the
            Little Blind Text should turn around and return to its own, safe country.</p>
          <a href="https://www.youtube.com"><i class="fab fa-youtube h3 text-danger"></i> </a><span
            class="text-uppercase text-center">Watch Our Consultant Video </span>
        </div>
      </div>
    </div>
  </section>
  <!-- about us section end here  -->

  <!-- testimonial section start here  -->
  <section id="testimonial-section" class="space-from-top">
    <div class="container">
      <div class="row">
        <div class="col-lg-7 align-text-center p-5">
          <p class="text-danger">TESTIMONY</p>
          <h1 class="text-dark">HAPPY CUSTOMER</h1>
          <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <p class="text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores,
                  accusantium aliquid
                  natus dolor expedita a quam vel animi? Vel vero quod cumque illum accusantium
                  officiis.</p>
                <div class="user-reviews">
                  <img src="images/7.jpg" style="height: 70px;width: 70px;border-radius: 100%;">
                  <h3 class="text-dark">Samuel Camilo</h3>
                  <p class="text-danger">Composer</p>
                </div>
              </div>
              <div class="carousel-item">
                <p class="text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores,
                  accusantium aliquid
                  natus dolor expedita a quam vel animi? Vel vero quod cumque illum accusantium
                  officiis.</p>
                <div class="user-reviews">
                  <img src="images/6.jpg" style="height: 70px;width: 70px;border-radius: 100%;">
                  <h3 class="text-dark">Jassica Alba</h3>
                  <p class="text-danger">Writer</p>
                </div>

                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                  data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                  data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-5" data-aos="flip-up">
          <img src="images/5.jpg" class="img-fluid image-fluid">
        </div>
      </div>
  </section>
  <!-- testimonial section end here  -->

  <!-- Price and Plan section start here  -->
  <section id="pricing-section" class="space-from-top">
    <div class="top-div text-center">
      <h1 class="h6 text-uppercase text-danger">Price & plans</h1>
      <p class="h1">Affordable Packages</p>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-4 col-12 text-center p-5">
            <div class="card p-3" style="width: 18rem;" data-aos="fade-left">
              <h3 class="display-5">$79/mo</h3>
              <div class="card-body">
                <h5 class="card-title">For Adults</h5>
                <hr>
                <p>Indivisual Counseling</p>
                <p>Couple Therapy</p>
                <p>Family Therapy</p>
                <hr>
                <a href="#" class="btn btn-danger px-5 py-3">Get Started</a>
              </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-12 text-center p-5">
            <div class="card p-3" style="width: 18rem;" data-aos="flip-down">
              <h3 class="display-5">$99/mo</h3>
              <div class="card-body">
                <h5 class="card-title">For Children</h5>
                <hr>
                <p>Counseling for Children</p>
                <p>Behavioural Management</p>
                <p>Educational Counseling</p>
                <hr>
                <a href="#" class="btn btn-danger px-5 py-3">Get Started</a>
              </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-12 text-center p-5">
            <div class="card p-3" style="width: 18rem;" data-aos="fade-right">
              <h3 class="display-5">$109/mo</h3>
              <div class="card-body">
                <h5 class="card-title">For Business</h5>
                <hr>
                <p>Consultancy Services</p>
                <p>Employee Counseling</p>
                <p>Psychologicl Assessment</p>
                <hr>
                <a href="#" class="btn btn-danger px-5 py-3">Get Started</a>
              </div>
            </div>
        </div>
    </div>
    </div>
  </section>
  <!-- Price and Plan section end here  -->
  <!-- contact context start here  -->
  <section id="contact-section" class="back_color">
    <!-- i am removing p-5 and w-50 from form class  -->
    <form action="/contact" method="post" class=" wid-style" data-aos="fade-right">   
      <h1 class="display-6 text-left paddin">Send a Message & Get in touch</h1>
      <div class="box-1 m-3">
        <input type="text" name="" id="" placeholder="Your Name">
        <input type="email" name="" id="" placeholder="email">
      </div>
      <div class="box-2 m-3">
        <select name="issues" id="issues">
          <option value="family Problem">family Problem</option>
          <option value="deepresion treatment">deepresion treatment</option>
          <option value="personal problem">personal problem</option>
          <option value="business problem">business problem</option>
        </select>
      </div>
      <div class="box-3 m-3">
        <textarea name="text" id="" cols="72" rows="7" placeholder="Message"></textarea>
      </div>
      <button class="btn-lg btn btn-danger button-style">Send Message</button>
    </form>
  </section>
  <!-- contact context end here  -->

  <!-- footer section start here  -->
  <footer id="footer" class="text-white bg-danger">
    <div class="footer-padding">
      <h1 class="h6 text-center">Humbly Mady by SHUBHAM RAWAT || &copy; 2021, OCT 1</h1>
    </div>
  </footer>
  <!-- footer section end here  -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"
    integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js"
    integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/"
    crossorigin="anonymous"></script>

    <!-- our AOS library  -->
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init({
        delay : 3,
        duration: 800,
      });
    </script>
  
</body>

</html>